<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col class="bord" size="10" sizeSm="8" sizeMd="6" sizeLg="4">
      <ion-card>
        <img style="width: 100%;" alt="Pin vs Monsters Banner" src="../../../assets/img/Inicio.png" />
        <ion-card-header>
          <ion-card-title>Pin vs Monsters
          </ion-card-title>
          <ion-card-subtitle>Historia</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Pin, nuestro héroe, tratará de sobrevivir en un paraje lleno de monstruos aterradores dispuestos a todo para acabar con él...
        </ion-card-content>

        <ion-row class="ion-justify-content-center">
          <ion-col size="11" class="ion-text-center">
            <ion-button (click)=verDetalleHeroe()>
              Más sobre Pin
            </ion-button>
          </ion-col>
        </ion-row>

      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
