<div class="row">
  <div class="col-12">
    <img src="https://bucketodiolaescuela.s3.amazonaws.com/Inicio.png" class="" style="width: 100%; height: 50vh;" alt="Inicio.png">
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Pin vs Monsters</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="inicio">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="enemigos">Enemigos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="descargar">Descargar</a>
      </li>
    </ul>
    <span class="navbar-text">
      Una silvestre aventura con implacables retos
    </span>
  </div>
</nav>
<router-outlet></router-outlet>
