<div class="row">
  <div class="col-12">
    <img src="https://firebasestorage.googleapis.com/v0/b/videojuego-b7904.appspot.com/o/pin%2FPin%20banner.png?alt=media&token=9a14d0b7-009d-4e0e-965e-3316c6133d33" class="img-fluid" alt="Responsive image">
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Pin vs Monsters</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="inicio">Inicio<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="enemigos">Enemigos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="descargar">Descargar</a>
      </li>
    </ul>
    <span class="navbar-text">
      Una silvestre aventura con implacables retos
    </span>
  </div>
</nav>
<router-outlet></router-outlet>
