<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" >Sin Internet</ion-title>
    <span slot="end" class="ion-padding-end cursor" (click)=cerrar()>X</span>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="10">
        <h3>Lo sentimos no pudimos conectar a internet :(</h3>
      </ion-col>
      <ion-col size="7" class="ion-text-center ion-margin-top">
        <img src="../../../assets/img/sadHero.png" style="width: 50% ;" alt="Sad Heroe">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
