<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center" >{{ heroeInfo.nombre }}</ion-title>
    <span slot="end" class="ion-padding-end cursor" (click)=cerrar()>X</span>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <img class="img-banner" [src]=heroeInfo.img alt="">
      </ion-col>
    </ion-row> 
    <ion-row class="ion-justify-content-center">

      <ion-col size="2">
        <img class="img" [src]=heroeInfo.iconoVida>
      </ion-col>
      <ion-col offset="10">
      </ion-col>
      <ion-col size="10" class="border-top ion-text-center">
        <span>Estadisticas</span>
      </ion-col>

      <!--    Inicio Vidas    -->

      <ion-col size="7" class="border-top ion-padding-vertical">
        <span>Numero de vidas:</span>
      </ion-col>
      <ion-col size="3" class="border-top ion-text-center ion-padding-vertical">
        <img class="ion-padding-end" style="width: 35%;" [src]=heroeInfo.iconoVida alt="gif pin">
        <span class="">x{{ heroeInfo.vida }}</span>
      </ion-col>

      <!--    Fin Vidas    -->

      <!--    Inicio Salto    -->

      <ion-col size="7" class="border-top ion-padding-vertical">
        <span>Salto:</span>
      </ion-col>
      <ion-col size="3" class="border-top ion-text-center ion-padding-vertical">
        <img class="ion-padding-end" style="width: 35%;" [src]=heroeInfo.iconoSalto alt="gif pin">
        <span>{{ heroeInfo.salto }}</span>
      </ion-col>

      <!--    Fin Salto    -->

      <!--    Inicio Velocidad   -->

      <ion-col size="7" class="border-top ion-padding-vertical">
        <span>Velocidad:</span>
      </ion-col>
      <ion-col size="3" class="border-top ion-text-center ion-padding-vertical">
        <img class="ion-padding-end" style="width: 35%;" [src]=heroeInfo.iconoVelocidad alt="gif pin">
        <span>{{ heroeInfo.velocidad }}</span>
      </ion-col>
      
      <!--    Fin Velocidad    -->

       <!--    Inicio Danno   -->

      <ion-col size="7" class="border-top ion-padding-vertical">
        <span>Daño:</span>
      </ion-col>
      <ion-col size="3" class="border-top ion-text-center ion-padding-vertical">
        <img class="ion-padding-end" style="width: 35%;" [src]=heroeInfo.iconoDanno alt="pinStone">
        <span>{{ heroeInfo.danno }}</span>
      </ion-col>

       <!--    Fin Danno   -->

      <ion-col size="10" class="border-top ion-text-justify ion-padding-vertical">
        <p>
          {{ heroeInfo.curiosidades }}
        </p>
      </ion-col>


    </ion-row>
  </ion-grid>
</ion-content>

