<div class="row justify-content-center mt-4">

    <div class="col-10 col-md-6 col-lg-4 border rounded p-3 m-2 shadow text-center" style="width: 18rem;">
        <img src="https://bucketodiolaescuela.s3.amazonaws.com/Inicio.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" style="color: Darkgreen ; font-weight: bold;">Una emocionante Aventura!</h5>
          <p class="card-text">Prepárate para el reto de plataformas más difícil al que te hayas enfrentado, Pin nuestro héroe necesita de tu ayuda para superar a los temibles enemigos que se cruzan por su camino,  ¿estás dispuesto a ayudarlo?</p>
        </div>
      </div>

      <div class="col-10 col-md-6 col-lg-6 border rounded p-3 m-2 shadow text-center" style="width: 18rem;">
        <img src="https://bucketodiolaescuela.s3.amazonaws.com/banner2.png" class="card-img-top" alt="...">
        <div class="card-body my-auto">
          <h5 class="card-title" style="color: Darkgreen ; font-weight: bold;">¿Podrás superar los desafíos?</h5>
          <p class="card-text">Solo los mejores jugadores serán capaces de superar tan solo el primer nivel</p>
        </div>
      </div>

    <div class="col-10 col-md-6 col-lg-3 border rounded p-3 m-2 shadow text-center"style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: Darkgreen ; font-weight: bold;">¡La mítica historia se vuelve Real!</h5>
            <p class="card-text">¿Alguna vez te contó tu abuelo acerca de pelear en el cerro con el diablo?</p>
            <div class="row ion-justify-content-center my-auto">
                <div class="col-6 my-auto">
                    <img src="https://bucketodiolaescuela.s3.amazonaws.com/DemonBanner.jpeg" class="card-img-top shadow" alt="...">
                </div>
                <div class="col-6 my-auto">
                    <p>Pues no estaba bromeando!!!, El temible Demon llego para acabar con quien se cruce en su camino (Incluso el mismo).</p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-10 col-md-6 col-lg-4 border rounded p-3 m-2 shadow text-center"style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: Darkgreen ; font-weight: bold;">¡Date prisa Pin! El enemigo acecha</h5>
            <p class="card-text">¡Se esconde entre las sombras el temible Misterion!</p>
            <div class="row ion-justify-content-center my-auto">
                <div class="col-6 my-auto">
                    <img src="https://bucketodiolaescuela.s3.amazonaws.com/misterionBanner.jpeg" style="width: 110%;" class="card-img-top shadow" alt="...">
                </div>
                <div class="col-6 my-auto">
                    <p>¿Alguna vez has tenido miedo a la oscuridad?, Pues deberías tenerlo, el gran ¡Misterion! Se esconde en los lugares más profundos, justo donde puede atacarte desprevenido!.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-10 col-md-6 col-lg-3 border rounded p-3 m-2 shadow text-center"style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title" style="color: Darkgreen ; font-weight: bold;">Descarga Nuestra app!</h5>
            <p class="card-text">Con nuestra app podrás saber todos los secretos y trucos necesarios para vencer al mal del cerro Blue y así continuar con el legado familiar y vencer al diablo a machetazos en el cerro una vez ¡más!</p>
            <a href="www.qr-code-generator.com/" border="0" style="cursor:default" rel="nofollow"></a><img src="https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DdQw4w9WgXcQ%26ab_channel%3DRickAstley&chs=180x180&choe=UTF-8&chld=L|2">
        </div>
    </div>

  </div>
