<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle autoHide="true">
          <ion-item *ngFor="let item of elementos "
          [routerLink]="item.ruta" detail>
            <ion-icon class="ion-padding-horizontal" [name]=item.icono> </ion-icon>
              {{ item.nombre }}
            </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
