<app-header title='Secretos'></app-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
        Desliza o haz TAP en la imagen para saber más sobre los secretos escondidos.
      </ion-card-title>
    </ion-card-header>
  </ion-card>

    <ion-slides [options]="slideOpts">
        <ion-slide *ngFor="let secret of secrets; let i=index">
         <ion-card class="ion-padding"  (click)="verDetalleSecret(i)">
          <img [src]="secret.img" style="width: 20vh; width: 60vh;">
          <ion-card-header>
            <ion-card-title>{{ secret.titulo }}</ion-card-title>
            <ion-card-subtitle>
              {{ secret.ubicacion }}
            </ion-card-subtitle>
          </ion-card-header>
         </ion-card>
        </ion-slide>
      </ion-slides>
      
</ion-content>
