<app-header title='Nosotros'></app-header>
<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">
          Conoce más acerca de nuestro fabuloso equipo de desarrollo.
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card class="ion-text-center ion-margin-vertical bordeCard">
    <img class="borde ion-margin-top" src="../../../assets/img/yomero.jfif" style="width: 50% ;" alt="yomeroMaromero">
    <ion-card-header>
      <ion-card-title>
        Alexis González López
      </ion-card-title>
      <ion-card-subtitle>
        Desarrollador y Proyect Manager
      </ion-card-subtitle>
      <ion-card-subtitle>Jr. Full Stack Developer</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      <a class="ion-padding-horizontal" href="https://www.facebook.com/profile.php?id=100001649069172">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a class="ion-padding-horizontal" href="https://www.linkedin.com/in/alexis-gonzalez-lopez-043685211/">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>
    </ion-card-content>

  </ion-card>

  <ion-card class="ion-text-center ion-margin-vertical bordeCard">
    <img class="borde ion-margin-top" src="../../../assets/img/trini.jpeg" style="width: 50% ;" alt="yomeroMaromero">
    <ion-card-header>
      <ion-card-title>
        Maria Trinidad Ruiz Manriquez
      </ion-card-title>
      <ion-card-subtitle>
        Desarrollador y Product Owner
      </ion-card-subtitle>
      <ion-card-subtitle>Developer Trainee</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      <a class="ion-padding-horizontal" href="https://www.facebook.com/mariatrinidad.ruizmanriquez">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
    </ion-card-content>

  </ion-card>


  <ion-card class="ion-text-center ion-margin-vertical bordeCard">
    <img class="borde ion-margin-top" src="../../../assets/img/lupe.jpeg" style="width: 50% ;" alt="yomeroMaromero">
    <ion-card-header>
      <ion-card-title>
        Lizeth Guadalupe Ruiz Arreola
      </ion-card-title>
      <ion-card-subtitle>
        Designer y Tester
      </ion-card-subtitle>
      <ion-card-subtitle>Developer Trainee</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-text-center">
      <a class="ion-padding-horizontal" href="https://www.facebook.com/lruizarreola">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
    </ion-card-content>

  </ion-card>


</ion-content>
